[user]
	name = Daniel Swensson
	email = daniel@danielswensson.se
[push]
	default = current
[commit]
	gpgsign = true
[init]
	templatedir = ~/.git_template
[core]
	excludesfile = ~/.gitignore
[alias]
	ctags = !.git/hooks/ctags
[gpg]
	program = gpg
