[user]
	name = Daniel Swensson
	email = daniel.swensson@hemnet.se
[includeIf "gitdir:~/Developer/danielswensson/"]
	path = ~/Developer/danielswensson/.gitconfig
[push]
	default = current
[commit]
	gpgsign = true
[init]
	templatedir = ~/.git_template
[core]
	excludesfile = ~/.gitignore
[alias]
	ctags = !.git/hooks/ctags
